<footer class="bg-gray-50 mx-auto">
  <div class="px-4 py-10 mx-auto sm:px-6 lg:px-8 flex justify-center">
    <div class="grid">
      <div class="text-center">
        <a href="#" title="" class="flex items-center justify-center">
          <img class="w-auto h-8" src="assets/logo.png" alt="" />
        </a>
        <p class="mt-4 text-base text-gray-600">
          Votre plateforme de confiance pour trouver votre propriété idéale en
          Tunisie
        </p>
      </div>
    </div>
  </div>
</footer>