<app-navbar></app-navbar>

<section class="bg-white py-24">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        À Propos
      </h2>
      <p class="mb-4">
        Créée par Amna Kouki, notre plateforme est dédiée à simplifier la recherche de propriétés en Tunisie, offrant une expérience conviviale pour trouver votre lieu idéal et concrétiser vos rêves immobiliers.



      </p>
      <p>
        Bienvenue sur notre plateforme, votre porte d'entrée vers une vie où vos rêves deviennent réalité.


      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="https://source.unsplash.com/random/?building"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="https://source.unsplash.com/random/?tunisia"
        alt="office content 2"
      />
    </div>
  </div>
</section>
